<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
   <% if notice %>
      <h4 class="notice"><%= notice %></h4>
    <% end %>
    <% if alert %>
      <h4 class="alert"><%= alert %></h4>
    <% end %>
      <% if user_signed_in? %>
        <%= button_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-light' %>
      <% end %>
    <%= yield %>
  </body>
</html>
